[Desktop Entry]
Type=Application
Version=1.4.4
Name=Starbound
Comment=You’ve fled your home, only to find yourself lost in space with a damaged ship. Your only option is to beam down to the planet below, repair your ship and set off to explore the universe...
Path=/opt/starbound
Exec=/opt/starbound/starbound
Icon=starbound
Terminal=false
Categories=Game;
