pkgbase = hollow-knight-bin
	pkgdesc = Forge your own path in Hollow Knight! An epic action adventure through a vast ruined kingdom of insects and heroes. Explore twisting caverns, battle tainted creatures and befriend bizarre bugs, all in a classic, hand-drawn 2D style.
	pkgver = 1.5.68.11808
	pkgrel = 1
	url = https://www.hollowknight.com
	arch = x86_64
	license = custom:commercial
	conflicts = hollow-knight
	source = local://Hollow_Knight_1.5.68.11808_LinuxDRMFree.zip
	source = hollow-knight.png
	source = com.hollowknight.HollowKnight.desktop
	sha256sums = 62d09bd7884624e2c4054403de26a379f877b71e0f71ccbc0591d7118e6fab01
	sha256sums = c354f58d02eea1a7962a336a51c81aecf21fe1c6a2399379a7a4d91f3d608557
	sha256sums = a21e4cded395bb0e45e8cdcf76c4babb994c08c69a22e577a3816651b358ad07

pkgname = hollow-knight-bin
