[Desktop Entry]
Name=Stardew Valley
Comment=You’ve inherited your grandfather’s old farm plot in Stardew Valley. Armed with hand-me-down tools and a few coins, you set out to begin your new life. Can you learn to live off the land and turn these overgrown fields into a thriving home?
Folder=/opt/stardew-valley
Exec="/opt/stardew-valley/game/Stardew Valley"
Icon=stardew-valley
Type=Application
Terminal=false
StartupNotify=true
Categories=Game;
Encoding=UTF-8

